@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --text: #e1e5f2;
  --h1: #82e2ff;
  --trail: #82e2ff;
  --accents: #20b1ce;
  --bg: #022b3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: var(--text);
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}

.navbar {
  position: relative;
}

.navbar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  animation: showRight 1s ease forwards;
  animation-delay: 3.2s;
}

.navbar a {
  font-size: 18px;
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--accents);
}

.home {
  height: 100vh;
  /* background: url("home.jpg") no-repeat; */
  background: var(--bg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--h1);
}

.home-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: var(--accents);
}

.home-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}

.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}

.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.home-content .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: var(--accents);
  border: 2px solid var(--accents);
  border-radius: 8px;
  font-size: 19px;
  color: var(--bg);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: var(--accents);
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: var(--accents);
}

.btn-box a:nth-child(2):hover {
  color: var(--bg);
}

.btn-box a:nth-child(2)::before {
  background: var(--accents);
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg);
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-socials {
  position: absolute;
  bottom: 70px;
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.home-socials::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;
}

.home-socials a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid var(--accents);
  border-radius: 50%;
  font-size: 20px;
  color: var(--accents);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-socials a:hover {
  color: var(--bg);
}

.home-socials a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--accents);
  z-index: -1;
  transition: 0.5s;
}

.home-socials a:hover::before {
  width: 100%;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

/* spark effect */

.spark {
  position: absolute;
  width: 40px;
  height: 40px;
  transform: translate(0, -20px);
}

.spark span {
  position: absolute;
  width: 2px;
  height: 20px;
  pointer-events: none;
  transform-origin: bottom;
  overflow: hidden;
  filter: drop-shadow(0 0 20px white);
}

.spark span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0f0;
  animation: spark 0.5s ease-in-out forwards;
}

@keyframes spark {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* -------------------------------------------- */

/* trail effect */

.trail {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--trail);
  position: fixed;
  animation: come 0.7s linear forwards;
}

@keyframes come {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0) translateY(-20px);
    opacity: 0;
  }
}

/* --------------------------------------------- */
