@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --text: #e1e5f2;
  --h1: #82e2ff;
  --trail: #82e2ff;
  --accents: #20b1ce;
  --bg: #022b3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
}

/* page header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 10%;
  background: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
}

.logo {
  position: relative;
  font-size: 25px;
  color: var(--text);
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}

.navbar {
  position: relative;
}

.navbar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.navbar a {
  font-size: 18px;
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--accents);
}

/* home page socials */

.home-socials {
  position: relative;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.home-socials::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  animation: showRight 1s ease forwards;
  animation-delay: 2.2s;
  z-index: 2;
}

.home-socials a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--accents);
  border-radius: 50%;
  font-size: 20px;
  color: var(--accents);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-socials a:hover {
  color: var(--bg);
}

.home-socials a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--accents);
  z-index: -1;
  transition: 0.5s;
}

.home-socials a:hover::before {
  width: 100%;
}

/* ------------------------------ */

/* ----------------------------------- */

/* home page */

.home {
  height: fit-content;
  background: var(--bg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 10%;
  display: flex;
  position: relative;
  margin-top: 100px;
  padding-top: 20vh;
  margin-bottom: 40vh;
}

/* ------------------------ */

/* home page content */

.home-content {
  max-width: 600px;
  z-index: 100;
}

.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--h1);
}

.home-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: var(--accents);
}

.home-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}

.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}

.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.home-content .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: var(--accents);
  border: 2px solid var(--accents);
  border-radius: 8px;
  font-size: 19px;
  color: var(--bg);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: var(--accents);
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: var(--accents);
}

.btn-box a:nth-child(2):hover {
  color: var(--bg);
}

.btn-box a:nth-child(2)::before {
  background: var(--accents);
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg);
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

/* ---------------------------- */

/* home page animations */

@keyframes showRight {
  100% {
    width: 0;
  }
}

/* -------------------------- */

/* spark effect */

.spark {
  position: absolute;
  width: 40px;
  height: 40px;
  transform: translate(0, -20px);
}

.spark span {
  position: absolute;
  width: 2px;
  height: 20px;
  pointer-events: none;
  transform-origin: bottom;
  overflow: hidden;
  filter: drop-shadow(0 0 20px white);
}

.spark span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0f0;
  animation: spark 0.5s ease-in-out forwards;
}

@keyframes spark {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* -------------------------------------------- */

/* trail effect */

.trail {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--trail);
  position: fixed;
  pointer-events: none;
  animation: come 0.7s linear forwards;
  z-index: 202;
}

@keyframes come {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0) translateY(-20px);
    opacity: 0;
  }
}

/* --------------------------------------------- */

/* projects section */

#projects {
  scroll-margin-block-start: 100px;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projects .project-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 3rem 1rem;
  z-index: 100;
}

.projects .project-header h1 {
  font-size: 3rem;
  font-weight: 500;
}

.projects .project-header h3 {
  font-size: 1.2rem;
  font-weight: 300;
}

.projects .project-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(2, 550px);
  margin-inline: 10%;
  gap: 2rem;
}

.projects .project-grid .project-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px 2px rgba(15, 202, 226, 0.45);
}

.projects .project-grid .project-card .project-card-info {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  color: black;
  z-index: 100;
}

.projects
  .project-grid
  .project-card
  .project-card-info
  .project-card-paragraph {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects
  .project-grid
  .project-card
  .project-card-info
  .project-card-paragraph
  p {
  font-size: 1.1rem;
}

.projects .project-grid .project-card .project-card-info .project-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.projects
  .project-grid
  .project-card
  .project-card-info
  .project-card-paragraph
  a {
  font-size: 35px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.projects
  .project-grid
  .project-card
  .project-card-info
  .project-card-paragraph
  a:hover {
  color: var(--accents);
}

.projects .project-grid .project-card .fade {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  position: absolute;
  pointer-events: none;
  background: linear-gradient(
    to top,
    rgb(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0.8) 80%,
    rgba(255, 255, 255, 0.03) 90%,
    rgba(255, 255, 255, 0) 95%,
    rgba(255, 255, 255, 0) 100%
  );
}

.projects .project-grid .project-card .project-img {
  width: 100%;
  height: 150px;
  margin-bottom: 25px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  transition: 0.5s;
}

.projects .project-grid .project-card .project-img:hover {
  filter: brightness(200%) saturate(200%);
}

/* --------------------------------------------- */

@media (max-width: 650px) {
  .header {
    flex-direction: column;
    padding-block: 5%;
  }
}
