@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --text: #e1e5f2;
  --h1: #82e2ff;
  --trail: #82e2ff;
  --accents: #20b1ce;
  --bg: #022b3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/* page header */

.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
}

.logo {
  position: relative;
  font-size: 25px;
  color: var(--text);
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}

.navbar {
  position: relative;
}

.navbar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
  animation: showRight 1s ease forwards;
  animation-delay: 3.2s;
}

.navbar a {
  font-size: 18px;
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--accents);
}

/* ----------------------------------- */

/* home page animations */

@keyframes showRight {
  100% {
    width: 0;
  }
}

/* -------------------------- */

/* carousel */

.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0.5vw 3vw 2vw 3vw;
  position: relative;
}

.carousel .list {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel .list .item {
  position: absolute;
  width: 100%;
  height: 100%;
}

.carousel .list .item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.carousel .list .item .content {
  position: absolute;
  top: 7%;
  left: 7%;
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .content .author {
  font-weight: bold;
  letter-spacing: 0.4vw;
  font-size: 1.2vw;
}

.carousel .list .item .content .title,
.carousel .list .item .content .topic {
  font-weight: bold;
  font-size: 3.2vw;
  line-height: 4vw;
}

.carousel .list .item .content .description {
  font-size: 1.2vw;
}

.carousel .list .item .content .topic {
  color: #f1683a;
}

.carousel .list .item .content .buttons {
  display: flex;
  gap: 2vw;
  margin-top: 1.5vw;
}

.carousel .list .item .content .buttons a {
  background-color: #eee;
  width: 2.5vw;
  height: 2.5vw;
  font-size: 2vw;
  border-radius: 50%;
  color: #f1683a;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.carousel .list .item .content .buttons a:hover {
  cursor: pointer;
}

/* thumbnail */

.carousel .thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 47vw;
  z-index: 100;
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.thumbnail .item .content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.thumbnail .item .content .title {
  font-weight: bold;
}

/* arrows */

.arrows {
  position: absolute;
  bottom: 15%;
  right: 55%;
  gap: 1vw;
  display: flex;
}

.arrows button {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  background-color: #f1683a;
  border: none;
  font-family: monospace;
  color: #fff;
  font-weight: bold;
  font-size: 2vw;
  transition: 0.5s;
  z-index: 200;
}

.arrows button:hover {
  background-color: #eee;
  color: #555;
  cursor: pointer;
}

.carousel .list .item:nth-child(1) {
  z-index: 1;
}

.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .description,
.carousel .list .item:nth-child(1) .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.carousel .list .item:nth-child(1) .title {
  animation-delay: 1.2s;
}

.carousel .list .item:nth-child(1) .topic {
  animation-delay: 1.4s;
}

.carousel .list .item:nth-child(1) .description {
  animation-delay: 1.6s;
}

.carousel .list .item:nth-child(1) .buttons {
  animation-delay: 1.8s;
}

/* effect next click */

.carousel.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  border-radius: 20px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  width: 0;
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}

@keyframes showThumbnail {
  to {
    width: 150px;
  }
}

.carousel.next .thumbnail {
  transform: translateX(150px);
  animation: transformThumbnail 0.5s linear 1 forwards;
}

@keyframes transformThumbnail {
  to {
    transform: translateX(0);
  }
}

/* effect prev clcik */

.carousel.prev .list .item:nth-child(2) img {
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: outImage 0.5s linear 1 forwards;
}

@keyframes outImage {
  to {
    width: 150px;
    height: 220px;
    border-radius: 20px;
    left: 50%;
    bottom: 50px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1) {
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel.prev .list .item:nth-child(2) .author,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .topic,
.carousel.prev .list .item:nth-child(2) .description,
.carousel.prev .list .item:nth-child(2) .buttons {
  animation: contentOut 1.5s linear 1 forwards;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}

/* time */

.time {
  width: 0%;
  height: 10px;
  background-color: #f1683a;
  margin-block-end: 1vw;
  position: relative;
  z-index: 102;
}

.time.running {
  width: 100%;
  animation: timeRunning 3s linear 1 forwards;
}

@keyframes timeRunning {
  to {
    width: 0;
  }
}

/* spark effect */

.spark {
  position: absolute;
  width: 40px;
  height: 40px;
  transform: translate(0, -20px);
  z-index: 201;
}

.spark span {
  position: absolute;
  width: 2px;
  height: 20px;
  pointer-events: none;
  transform-origin: bottom;
  overflow: hidden;
  filter: drop-shadow(0 0 20px white);
}

.spark span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0f0;
  animation: spark 0.5s ease-in-out forwards;
}

@keyframes spark {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* -------------------------------------------- */

/* trail effect */

.trail {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--trail);
  position: fixed;
  z-index: 101;
  animation: come 0.7s linear forwards;
}

@keyframes come {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0) translateY(-20px);
    opacity: 0;
  }
}

/* --------------------------------------------- */
